/* Hide Github button that goes to profectus-docs */
.nav-links > .item:last-child {
	display: none;
}

.custom-block.info {
	background-color: #3B4252;
}

.custom-block.warning {
	background-color: #EBCB8B;
}

tr:nth-child(2n) {
    background-color: var(--code-bg-color);
}

.sidebar > .sidebar-links > .sidebar-link > .sidebar-links > .sidebar-link > .sidebar-links > .sidebar-link > .sidebar-links > .sidebar-link > .sidebar-links > .sidebar-link > .sidebar-link-item {
    display: block;
    padding: 0.3rem 1.5rem 0.3rem 5rem;
    line-height: 1.4;
    font-size: 0.9rem;
    font-weight: 400;
}

p.sidebar-link-item {
    color: var(--c-text-lighter);
}

pre {
    display: inline-block;
    margin: 0;
    border-radius: 3px;
    padding: 0.25rem 0.5rem;
    font-family: var(--code-font-family);
    font-size: 0.85em;
    color: var(--c-text-light);
    background-color: var(--code-inline-bg-color);
}
