body {
    font-size: 14px;
}

@media (min-width: 960px) {
    .main .name, .main .text {
        font-size: 52px !important;
    }
}

.custom-block.info {
	background-color: #3B4252;
}

.custom-block.warning {
	background-color: #3B4252;
    border-color: #EBCB8B;
}

.custom-block.warning > .custom-block-title {
    color: #EBCB8B;
}

.custom-block.warning > :not(.custom-block-title) {
    color: var(--vp-custom-block-info-text);
}

.vp-doc tr:nth-child(2n),
.vp-doc th {
    background-color: var(--vp-c-bg-alt);
}

.vp-doc th,
.vp-doc td {
    border: 1px solid var(--vp-c-divider-light);
}

.content,
.VPNav.no-sidebar {
    background: var(--vp-c-bg) !important;
}

.VPNavBar {
    border-bottom: 0 !important;
}

.vp-doc :not(pre) > code {
    color: var(--vp-c-text-light-1);
    background-color: var(--vp-code-block-bg);
}
