/* Hide Github button that goes to profectus-docs */
.nav-links > .item:last-child {
	display: none;
}

.custom-block.info {
	background-color: #3B4252;
}

.custom-block.warning {
	background-color: #EBCB8B;
}

tr:nth-child(2n) {
    background-color: var(--code-bg-color);
}
